.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 19px 7px;
    /* border-radius: 8px; */
    background-color: var(--white);
}
.product-page .product-c a{
    display: block;
}
.product-card{
    box-shadow: 5px 15px 25px #ccc9c9;
    /* border-radius: 8px; */
}
.product-card img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; 
    width: 98%;
    height: 400px;
    object-fit: cover;
}
.product-card h1{
    font-size: 32px;
    color: var(--black);
    margin: 16px 108px;
}
.pass{
    position: relative;
}
