.grid {
  display: grid;
  width: 159px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  align-items: start;
  padding-top: 18px ;
  padding-bottom: 35px;
}
.grid__item {
  background-color: #fff;
  border-radius: 1.1rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}
.grid__item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.card__img {
  display: block;
  width: 100%;
  height: 131px;
  object-fit: cover;
}
.card__content {
  display: flex;
  justify-content: center;
}
.card__header {
  margin: 0;
  font-size: 16px;
  font-weight: 900;
  color: #393939;
  padding-top: 8px;
  padding-bottom: 6px;
}
.center img{
  display: block;
  width: 100%;
  /* height: 131px; */
  object-fit: cover;
}
.slick-slide element.style{
  width: 175 !important;
}